{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
    <link rel="shortcut icon" href="{% static 'img/SCAF_azul.png' %}">

    <!-- Fontes personalizadas para este modelo -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Estilos personalizados para este modelo -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Linha Externa -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Linha Aninhada dentro do Corpo do Cartão -->
                        <div class="row">
                            
                            {% comment %} <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>  {% endcomment %}
                            <div class="col-lg-6 d-none d-lg-block"> 

                            <img src="{% static 'img/SCAF.svg' %}" width="500" height="500";>
                        
                            
                        </div>

                            <div class="col-lg-6">
                                
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem-vindo de volta!</h1>
                                    </div>


                                    <form class="user" method="post" action="{% url 'login' %}">
                                        {% csrf_token %}

                                        <div class="form-group">

                                                <input type="text" id="usuario" name="username" class="form-control form-control-user" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="password" name="password" class="form-control form-control-user" autocomplete="off">
                                            
                                        </div>
                                        
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Login" class="submit"> 
                                        <hr>
                                        
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Esqueceu a Senha?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Criar uma Conta!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Núcleo do Bootstrap JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- JavaScript do plug-in central -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Scripts personalizados para todas as páginas -->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
